.all {
    margin-top: 100px;
    font-size: 30px;
}

.title {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    font-family: 'Nunito', sans-serif;
    color: #bbdefb;
}

.paragraph {
    width: 100vw;
    justify-content: center;
    align-content: center;
    display: flex;
}

.box {
    width: 45%;
    color: #000000;
    padding: 1.5rem;
    background-color: rgb(255,255,255);
    border-radius: .5rem;
    margin-top: 30px;
    font-family: 'Vollkorn SC', serif;
}

.jonah {
    width: 90%;
    margin: 0 auto;
}

.definition {
    margin-left: 40px;
}

.brand-statement {
    font-size: 18px;
}

.p1 {
    margin: 0px 15px;
    font-size: 24px;
}

.p2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0
}