html {
  scroll-behavior: smooth;
}
.App {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  font-family: 'Vollkorn SC', serif;
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #1a202c;
}

.section {
  height: 100vh;
  background-color: #e3e3e3;
}

.featured-apps {
 color: #e3e3e3
}

.home {
  height: 100vh;
  background-color: #e3e3e3;
}