.card {
    width: 20%;
    margin: 2.5rem;
    text-align: left;
}
.content {
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
    border-width: 2px;
    border-style: none;
    border-radius: .25rem;
    border: 0 solid #e2e8f0;
    display: block;
}
.image {
    max-width: 100%;
    height: auto;
}
.text {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: .75rem;
}
.card-title {
    font-size: 1.25rem;
    margin-bottom: .5rem;
    color: #000;
    font-weight: 700;
}
.description {
    font-size: 1rem;
    color: #4a5568;
    margin: 0;
}
.link {
    font-size: .75rem;
    color: #4a5568;
    padding-left: .75rem;
    padding-right: .75rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-right: .5rem;
    font-weight: 600;
    display: inline-block;
    border-radius: 9999px;
    background-color: #edf2f7;
}